---
http_interactions:
- request:
    method: post
    uri: https://demo.getvendo.com/spree_oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","username":"vendo@example.com","password":"vendo123"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"295d6ead902914c78a8c057447db61d6"
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"0GONp5BN15ovTnqdM1cVNBZLSYNI0xTdFgXjs-mxkZM","token_type":"Bearer","expires_in":7200,"refresh_token":"hsc-QtnKqwpFTlj278AtdXGtDq1ws57WZ5Qq-aO57iU","created_at":1649861041}'
  recorded_at: Wed, 13 Apr 2022 14:43:58 GMT
recorded_with: VCR 6.1.0
